@mixin font-style($color, $font-size, $font-weight) {
  @if $color != "" {
    color: $color;
  }
  @if $font-size != "" {
    font-size: $font-size;
  }
  @if $font-weight != "" {
    font-weight: $font-weight;
  }
}
