.chat-main
  .chat-main__group-info
    .info-items
      .info-items__group-contents
        %p.info-items__group-contents__title Title
        %p.info-items__group-contents__member Member : Hogetaro
      = link_to "hoge", class: "info-items__group-edit" do
        Edit
  .chat-main__message-list
    .message-items
      .message-items__top
        %p.message-items__top__name Hogetaro
        %p.message-items__top__date 2020/02/20(Sun) 20:20:20
      %p.message-items__message Hoge is hoge.
    .message-items
      .message-items__top
        %p.message-items__top__name Hogetaro
        %p.message-items__top__date 2020/02/20(Sun) 20:20:20
      %p.message-items__message Hoge is hoge.
  .chat-main__message-form
