.message-items{data: {message: {id: message.id}}}
  .message-items__top
    .message-items__top__name
      = message.user.name
    .message-items__top__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-items__message
    - if message.content.present?
      %p
        = message.content
    = image_tag message.image.url, class: 'Message-items__message__image' if message.image.present?