@import "side-bar";
@import "main-chat";

* {
  box-sizing: border-box;
}

.fas {
  color: #ffffff;
}

.file {
  display: none;
}

.wrapper {
  display: flex;
}

a {
  text-decoration: none;
  color: #fff;
}
