* {
  box-sizing: border-box;
}

.Wrapper {
  display: flex;
}

.Side-bar {
  width: 300px;
  &__user-name {
    height: 100px;
    background-color: #253141;
  }
  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }
}

.Chat-main {
  width: calc(100vw - 300px);
  &__group-info {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
  }
  &__message-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
  }
}